.global-wrapper {
    background-color: beige;
}

body {
    background-image: url("./images/bg_blurred.jpg");
    background-repeat: repeat-y;
}

.stick-right.rss-link {
    position: absolute;
    left: calc(var(--maxWidth-wrapper) + 3em);
}
