.global-wrapper {
    background-color: beige;
}

body {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.d-flex {
    display: flex;
}

.f1 {
    flex: 1;
}

.align-right {
    text-align: right;
}